.struct
{
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 1300;
   
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
input[type="search"]
{
  border-style: none;
    margin: 0 auto;
    display: block;
    height:30px;
    width:200px;
    float: left;
    border-style: none;
    border-radius: 25px;
}
input[type="search"]::placeholder
{
  color:grey;

}
img
{
  width:20px;
  
}
button[value="sear"]
{
    margin: 0 ;
    height:30px;
    padding: 0px;
    width:30px;
    border-style: none;
    border-radius: 25px;
    background-color: white;
}
button[value="cart"]
{
  margin: 0 ;
  height:30px;
  padding: 0px;
  width:30px;
  border-style: none;
  background-color:transparent;
}
button[value="sear"]:hover
{
  cursor: pointer;
}

.search
{
  background-color: white;
  border-radius: 25px;
}
.logo
{
    font-family: fantasy;
}
.nav td a {
  display: block;
  color: #00246B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 25px;
  transition:  0.3s;
}

.nav td a:hover {
  border-radius: 5px;
  box-shadow: 0 0px 16px 0 #8AB6F9 ;
}
.nav table
{
    margin:auto;
    width: 83%;
    border-radius: 5px;
    background-color: #CADCFC;
    font-size:20px;
}
.nav tr td:nth-child(6)
 {
   padding-right: 50px;
 }
.nav tr td:nth-child(7)
 {
   padding-right: 20px;
 }
.nav tr td:nth-child(8)
 {
   padding-right: 35px;
 }
.nav tr td:last-child
 {
  padding-right: 35px;
}
.sbut 
{
    margin:0 110px;
    border-radius: 25px;
    font-size:20px;
    padding-top: 20px;
}
.light
{
  color: #8AB6F9;
}
.dark
{
  color:#00246B;
}
.sbut button
{
  width:190px;
  height: 230px;
  border-radius: 25px;
  border-color: transparent;
  background-color: transparent;
  box-shadow: 0 0px 2px 0 rgba(0,0,0,0.24), 0 2.5px 2.5px 0 rgba(0,0,0,0.19);
  transition: 0.3s;
  color: rgb(104, 103, 103);
  
}
h1
{
  font-family: "Audiowide", sans-serif;
  margin:0 110px;
}
.sbut img
{
  width:90px;
  margin-bottom:30px;
}
.sbut img[src="air.png"]
{
  width:100px;
  margin-bottom:015px;
}
.sbut img[src="chain.png"]
{
  width:120px;
  margin-bottom:10px;
}
.sbut img[src="chassis.png"]
{
  width:125px;
  margin-bottom:10px;
}
.sbut button:hover
{
  box-shadow: 0 0px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color:black;
}